* {
  padding: 0;
  margin: 0;
}
//Font
@import url("https://fonts.googleapis.com/css2?family=Sono&display=swap");
$font: "Sono", sans-serif;

//Meu TEMA
$primary: #f0f0f2;
$secondary: #224a59;
$warning: #a3ab78;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "warning": $warning,
);

//// WHITE AND GRAY COLOR
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
//Navbar Active Customize
$navbar-light-brand-color: $primary;
$navbar-light-active-color: $warning;
//Impoirt todos os arquivos do bootstrap sass
@import "../node_modules/bootstrap/scss/bootstrap.scss";
//font awesone
