@use "../custom";
.banner {
  font-family: custom.$font;
  font-weight: bold;
  padding-top: 220px;
  color: custom.$primary;
  .container {
    border-radius: 10px;
    .row {
      display: flex;
      align-items: center;
      .col-sm {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
      }
      .col-sm-5 {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
          border: none;
        }
        button:hover {
          background-color: custom.$warning;
          color: custom.$primary;
          position: relative;
          top: -3px;
          transition: 0.5s;
        }
      }
      .col-sm-5 {
        .container {
          background-color: custom.$primary;
          clip-path: circle(50% at 50% 50%);
        }
      }
    }
  }
}
//Dispositivos Móveis Celular
@media (max-width: 576px) {
  .banner {
    padding-top: 100px;
    margin: 0;
    .container {
      .row {
        margin: 5px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        .col-sm {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 2rem;
        }
      }
    }
  }
}

//Dispositivos Móveis Tablet
@media (max-width: 768px) {
  .banner {
    padding-top: 120px;
    margin: 0;

    .container {
      background-image: url("../../src/img/logo-avatar-mobile.png");
      background-color: rgba(255, 255, 255, 0.527);
      .row {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        .col-sm {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 2rem;
        }
        .col-sm-5 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 2rem;
        }
        .col-sm-5 {
          .container {
            display: none;
          }
        }
      }
    }
  }
}
