@use "../custom";
.skills {
  font-family: custom.$font;
  color: custom.$primary;

  h2 {
    margin-top: 15px;
    font-weight: bolder;
  }
  .container {
    border-radius: 10px;
    .row {
      .col-lg-6 {
        .row {
          .active {
            position: relative;
            top: -5px;
            transition: 1s;
            color: custom.$warning;
          }
          i:hover {
            position: relative;
            top: -5px;
            transition: 1s;
            color: custom.$warning;
          }
          h3 {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
